/* CSS RESET */  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
.home-page-container a{
    text-decoration: none;
}

.home-page-content[data-theme="dark"]{
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424db;
}

.home-page-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 4em 6rem;
    min-height: 100vh;
    transition: all 0.5s ease-in-out;
    padding-top: 8em;
}
/* BIO CSS */
.home-bio{
    display: flex;
    gap: 32px;
    align-items: center;
}
.home-bio-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.home-bio-text-info1{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
    background-color: black;
    width: fit-content;
    color: white;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-bio-text a{
    text-decoration: none;
    background-color: #698CB3;
}
.bio-image-container{
    width: 300px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 3px 6px #00000029, 0 3px 6px rgba(0,0,0,0.23);
}
.bio-image-container[data-theme='dark']{
    border: 2px solid white;
}
.bio-image{
    height: 300px;
}
.home-bio-text h1{
    font-size: 2rem;
    background-color: black;
    color: white;
    width: fit-content;
    padding: 8px 16px;
    margin-bottom: 16px;
}
.home-bio-text p{
    padding-left: 16px;
}
.home-bio-text[data-theme='dark'] h1{
    background-color: black;
}
.home-bio-text >h1 > b{
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* QUOTATIONS CSS */
.quotations{
    font-size: 20px;
    margin-top: 3em;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 16px;
    text-align: center;
}

/* Links cards CSS */
.home-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    gap: 16px;
}
.list-cards-container{
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 2em;
}
.links-title{
    color: white;
}
hr{
    padding: 0;
    border: none;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    color: white;
    text-align: center;
}
.home-links h2{
    background-color: black;
    padding: 16px;
    font-weight: bold;
    font-size: 1.5rem;
}
.list-card{
    background-color: white;
    color: black;
    padding: 1em 2em;
    border: 1px solid grey;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);


    flex: 1 1 1;
    max-width: 300px;
    min-width: 200px;
}
.list-card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.list-card[data-theme="dark"]{
    background-color: rgba(41, 41, 41, 0.85);
    color: white;
}
.card-title{
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: black;
    padding: 4px 16px;

}
.card-list{
    margin-top: 16px;
}
.card-list-item{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    padding-left: 0;
}
.card-list-item a{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
}
.card-list-item a:hover{
    text-decoration: underline;
}
.card-list-item img{
    height: 20px;
}

.list-item-link{
    cursor: pointer;
}

/* SKILLS SECTION */

.skills-title{
    color: white;
    background-color: black;

    padding: 16px;
    font-weight: bold;
    font-size: 1rem;

    margin-top: 3em;
}

/* Reads section */
#reading{
    margin-top: 3em;
    gap: 32px;
}
.reading-subtitle{
    text-align: center;
    background-color: white;
    color: black;
    padding: 4px 16px;
}
.read-list{
    padding: 2em;
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: fit-content;
    max-width: max-content;
}
.read-list a{
    text-decoration: none;
    color: inherit;
}
.read-list a:hover{
    text-decoration: underline;
}
.read-list h3{
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-bottom: 12px;
}
.read-list h4{
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 1rem;
    margin-top: 16px;
}
.read-list p{
    display: flex;
    align-items: center;
    gap: 8px;
}
.read-list img{
    height: 32px;
}
.read-papers{
    border-right: 1px solid white;
    padding-right: 1em;
}
.paper-subtitle{
    color: grey;
}

/* Contact styles */

#contactme{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contactme-subtitle{
    text-align: center;
    background-color: white;
    color: black;
    padding: 4px 16px;
}
.footer{
    background-color: #C5C5C5;
    color: black;
    text-align: center;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.footer a{
    text-decoration: none;
    color: inherit;
}
.footer a:hover{
    text-decoration: underline;
}
.footer[data-theme="dark"]{
    background-color: #161616;
    color: white;
}
@media (max-width: 1600px){
    .home-page-content{
        padding: 4em 4rem;
        padding-top: 8em;
    }
}
@media (max-width: 1280px){
    .home-page-content{
        padding: 4em 2rem;
    }
    .bio-image-container{
        width: 200px;
        height: 200px;
    }
    .bio-image{
        height: 200px;
    }
    .home-page-content{
        padding-top: 12em;
    }
}
@media (max-width: 800px){
    .home-bio{
        flex-direction: column;
        align-items: center;
    }
    #dotted-line{
        display: none;
    }
    .home-bio-text h1{
        font-size: 1.5rem;
    }
    .list-cards-container{
        justify-content: center;
    }
    .read-list{
        flex-direction: column;
        align-items: center;
    }
    .read-papers{
        border-right: none;
        padding-right: 0;
    }
    #reading h2{
        text-align: center;
    }
}