.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: .6em 6rem;
}
.header-container{
    background-color: #c4c4c4fb;
}
.header-container[data-theme="dark"]{
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}
.header-links-container{
    display: flex;
    gap: 2em;
}
.header-container a{
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid transparent;
}
.header-container a:hover{
    border-bottom: 2px solid currentColor;
}
.header-logo{
    cursor: pointer;
}
.header-theme-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.header-switch-styling-container p{
    cursor: pointer;
    border: 2px solid currentColor;
    padding: 4px;
}
.header-switch-styling-container p:hover{
    text-decoration: underline;
}
@media (max-width: 1280px){
    .header-container{
        padding: .6em 2rem;
    }
}
@media (max-width: 800px){
    .header-logo{
        width: 100vw;
        text-align: center;
    }
    .header-container{
        justify-content: center;
        gap: 32px;
    }
}
@media (max-width: 450px){
    .header-container{
        gap: 16px;
    }
}